html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  font-family: $base-font-family;
}

* {
  box-sizing: border-box;
  color: #555;
  line-height: 1.5;
}

p {
    color: #777;
}


header {
    background: #259be0;
    background-image: linear-gradient(120deg, #259be0, #414ee4);
    height: 500px;
    margin: 0;
    padding: 0;
    text-align: center;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    @include media-query($on-palm) {
            height: 200px;
        }
    
    .headline {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    
    .main-title {
        grid-column: 2 / 3;
        font-size: 5rem;
        line-height: 1;
        margin-bottom: 5px;
        color: #eee;
        @include media-query($on-palm) {
            font-size: 3rem;
            line-height: 1;
            margin-top: 0;
           }
        
    }
    .tagline {
        grid-column: 2 / 3;
        font-size: 2rem;
        color: #ddd;
        margin-top: 0;
        @include media-query($on-palm) {
            font-size: 1rem;
        }
    }
}


.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

.row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    margin-bottom: 10px;

}


.c-1,
.c-2,
.c-3,
.c-4,
.c-5,
.c-6,
.c-7,
.c-8,
.c-9,
.c-10,
.c-11,
.c-12 {
    grid-column: span 12;
}


.main-content {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px; 
    margin-bottom: 10px;
}


@media only screen and (min-width: 720px) {  /* 720px */

.container {
    width: 100%;
  }
    
.main-content {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px; 
        margin-bottom: 20px; 

    }
    
.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
}

    
.c-1 {
    grid-column: span 1;
}

.c-2 {
    grid-column: span 2;
}

.c-3 {
    grid-column: span 3;
}

.c-4 {
    grid-column: span 4;
}

.c-5 {
    grid-column: span 5;
}

.c-6 {
    grid-column: span 6;
}

.c-7 {
    grid-column: span 7;
}

.c-8 {
    grid-column: span 8;
}

.c-9 {
    grid-column: span 9;
}

.c-10 {
    grid-column: span 10;
}

.c-11 {
    grid-column: span 11;
}

.c-12 {
    grid-column: span 12;
}
  
}


.item {
    min-height: 100px;
    border: 1px dashed #777;
    padding: 10px;
}


.g {
    background-color: gainsboro;
}
.p {
    background-color: peachpuff;
}

footer {
    background: #259be0;
    background-image: linear-gradient(120deg, #259be0, #414ee4);
    height: 200px;
    margin: 0;
    grid-column: 1 / -1;
    .row {
        @include media-query($on-palm) {
           padding: 10px; 
        }
        
        .c-4 {
            
            p {
                margin-bottom: 0;
                color: #eee;
            }
            a {
                color: #eee;
            }
        }
    }

}

.container {
    display: grid;
    grid-gap: 20px;
}

.feature {
    text-align: center;
    padding: 15px;
    h2 {
        line-height: 1.5;
    }
    .icon {
        font-size: 4.5rem;
        /* color: darken($brand-color, 5%); */
    }
}

.mt-80 {
    margin-top: 80px;
}

.btn {
    padding: 12px 50px;
    background-color: transparent;
    border: 1px solid $brand-color;
    border-radius: 4px;
    color: $brand-color;
    cursor: pointer;
    font-size: 1.1rem;
    &:hover {
        background-color: $brand-color;
        color: #eee;
    }
}


.main-image {
    height: 400px;

    position: relative;
    top: -100px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
     @include media-query($on-palm) {  
        width: 80%;
        margin: 0 auto;
        top: -50px;
    }
}
.rel-50 {
    position: relative;
    top: -50px;
    @include media-query($on-palm) {
        
    }
}
